#tests
tests
coverage
.circleci

#build tools
.prettierignore
.eslintignore
tsconfig.json
jest.config.js
.babelrc
.prettierrc
scripts

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig
.vscode/**

#other stuff
demo
webpack
src
LICENSE
